# Unit 2 Project - Data Cleaning

## Part 1: Prepare Environment and Jupyter Notebook

### Step 1: Create Virtual Environment

This step should have been completed prior to opening the Jupyter Notebook. Refer to project instructions.

### Step 2: Open Jupyter Notebook File

Congratulations! If you're here it means you have completed Step 2.

### Step 3: Load .csv Files into DataFrames

In [11]:
####### TO DO ########

# load house_data.csv into a dataframe using pd.read_csv()

# load house_sales.csv into a dataframe using pd.read_csv()

######################

In [12]:
###### TO DO ######

# use .head() on your new dataframe to show the dataframe was loaded succussfully

In [13]:
###### TO DO ######

# use .head() on your second new dataframe to show the dataframe was loaded succussfully

In [4]:
import pandas as pd

In [6]:
raw_house_df = pd.read_csv('house_data.csv')

In [7]:
raw_house_df.head()

,Unnamed: 0,ID,Bedrooms,Bathrooms,SQFT living,SQFT lot,Floors,Waterfront?,View,House Condition,Grade,SQFT above,SQFT basement,Year Built,Year Renovated,Zipcode,Lat,Long,SQFT living 15,SQFT lot 15
0,0,7129300520,3,1.00,1180,5650.0,1.0,No,Very Poor,OK Condition,7.0,1180.0,0,1955.0,NaN,98178.0,47.5112,-122.257,1340,5650
1,1,6414100192,3,2.25,2570,7242.0,2.0,No,Very Poor,OK Condition,7.0,2170.0,400,1951.0,1991.0,98125.0,47.7210,-122.319,1690,7639
2,2,5631500400,2,1.00,770,10000.0,1.0,No,Very Poor,OK Condition,6.0,770.0,0,1933.0,NaN,98028.0,47.7379,-122.233,2720,8062
3,3,2487200875,4,3.00,1960,5000.0,1.0,No,Very Poor,Great Condition,7.0,1050.0,910,1965.0,NaN,98136.0,47.5208,-122.393,1360,5000
4,4,1954400510,3,2.00,1680,8080.0,1.0,No,Very Poor,OK Condition,8.0,1680.0,0,1987.0,NaN,98074.0,47.6168,-122.045,1800,7503

In [9]:
raw_sales_df= pd.read_csv('house_sales.csv')

In [10]:
raw_sales_df.head()

   Unnamed: 0          Id             DATE        Price
0           0  7129300520  20141013T000000  $221,900.00
1           1  6414100192  20141209T000000  $538,000.00
2           2  5631500400  20150225T000000  $180,000.00
3           3  2487200875  20141209T000000  $604,000.00
4           4  1954400510  20150218T000000  $510,000.00

### Step 4: Create Data Dictionaries for Each Dataset

In [14]:
####### TO DO ###########

# Work in the cells below to fill in missing information in the data dictionary.

#### Data Dictionary - House Data

**id**:
> Description: String of numbers used as a unique ID for each house sold
>
> Data type: Qualitative

**bedrooms**:
> Description: number of bedrooms
>
> Data type: Quantitative

**bathrooms**:
> Description: Number of bathrooms
>
> Data type: Quantitative

**sqft_living**:
> Description: square footage of home interior
>
> Data type: Quantitative

**sqft_lot**:
> Description: square footage of land plot
>
> Data type: Quantitative

**floors**:
> Description: number of floors
>
> Data type: Quantitative

**waterfront**:
> Description: whether the house overlooks water
>
> Data type: Qualitative

**view**:
> Description: rating of the view from the house
>
> Data type: Qualitative

**condition**:
> Description: condition of the house and property
>
> Data type: Qualitative

**grade**:
> Description: An index of 1-13 where 1-3 falls short of building and construction standards, 7 is an average quality of construction, and 11-13 has a high quality of construction and design.
>
> Data type: Quantitative

**sqft_above**:
> Description: square footage above ground
>
> Data type: Quantitative

**sqft_basement**:
> Description:square footage of the basement
>
> Data type: Quantitative

**yr_built**:
> Description: the year the house was originally built
>
> Data type: Qualitative

**yr_renovated**:
> Description: year the house was renovated if applicable
>
> Data type: Qualitative

**zipcode**:
> Description: zip code of the house location
>
> Data type: Qualitative

**lat**:
> Description: latitude of location
>
> Data type: Qualitative

**long**:
> Description: longitude of location
>
> Data type: Qualitative

**sqft_living15**:
> Description: average square living space footage of nearest 15 neighbors
>
> Data type: Quantitative

**sqft_lot15**:
> Description: average square lot footage of nearest 15 neighbors
>
> Data type: Quantitative

#### Data Dictionary - House Sales Data

**id**:
> Description: String of numbers used as a unique ID for each house sold
>
> Data type: Qualitative

**date**:
> Description: Date of sale
>
> Data type: Quantitative

**price**: 
> Description: Sale price of home
>
> Data type: Quantitative

### Step 5: Create Copies of DataFrames to Start Cleaning Process

In [15]:
###### TO DO ######

# create a copy of house_data

# create a copy of sales_data

In [11]:
house_df = raw_house_df.copy()
sales_df = raw_sales_df.copy()

In [16]:
###### TO DO ######

# use .head() on your new dataframe to show the dataframe was copied succussfully

In [12]:
house_df.head()

,Unnamed: 0,ID,Bedrooms,Bathrooms,SQFT living,SQFT lot,Floors,Waterfront?,View,House Condition,Grade,SQFT above,SQFT basement,Year Built,Year Renovated,Zipcode,Lat,Long,SQFT living 15,SQFT lot 15
0,0,7129300520,3,1.00,1180,5650.0,1.0,No,Very Poor,OK Condition,7.0,1180.0,0,1955.0,NaN,98178.0,47.5112,-122.257,1340,5650
1,1,6414100192,3,2.25,2570,7242.0,2.0,No,Very Poor,OK Condition,7.0,2170.0,400,1951.0,1991.0,98125.0,47.7210,-122.319,1690,7639
2,2,5631500400,2,1.00,770,10000.0,1.0,No,Very Poor,OK Condition,6.0,770.0,0,1933.0,NaN,98028.0,47.7379,-122.233,2720,8062
3,3,2487200875,4,3.00,1960,5000.0,1.0,No,Very Poor,Great Condition,7.0,1050.0,910,1965.0,NaN,98136.0,47.5208,-122.393,1360,5000
4,4,1954400510,3,2.00,1680,8080.0,1.0,No,Very Poor,OK Condition,8.0,1680.0,0,1987.0,NaN,98074.0,47.6168,-122.045,1800,7503

In [17]:
###### TO DO ######

# use .head() on your second new dataframe to show the dataframe was copied succussfully

In [13]:
sales_df.head()

   Unnamed: 0          Id             DATE        Price
0           0  7129300520  20141013T000000  $221,900.00
1           1  6414100192  20141209T000000  $538,000.00
2           2  5631500400  20150225T000000  $180,000.00
3           3  2487200875  20141209T000000  $604,000.00
4           4  1954400510  20150218T000000  $510,000.00

## Part 2: Assess Data and Create Data Cleaning Plan

### Step 1: Check Column Names, Casing, Spelling, Etc.

In [18]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

In [14]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       21613 non-null  int64
 1   ID               21613 non-null  int64
 2   Bedrooms         21613 non-null  int64
 3   Bathrooms        21611 non-null  float64
 4   SQFT living      21613 non-null  int64
 5   SQFT lot         21611 non-null  float64
 6   Floors           21613 non-null  float64
 7   Waterfront?      21605 non-null  object
 8   View             21611 non-null  object
 9   House Condition  21607 non-null  object
 10  Grade            21611 non-null  float64
 11  SQFT above       21612 non-null  float64
 12  SQFT basement    21613 non-null  int64
 13  Year Built       21612 non-null  float64
 14  Year Renovated   21276 non-null  float64
 15  Zipcode          21610 non-null  float64
 16  Lat              21612 non-null  float64
 17  Long             21612 non-null  float64
 18  SQFT living 15   21613 non-null  int64
 19  SQFT lot 15      21613 non-null  int64
dtypes: float64(10), int64(7), object(3)
memory usage: 3.3+ MB

In [15]:
house_df.head()

,Unnamed: 0,ID,Bedrooms,Bathrooms,SQFT living,SQFT lot,Floors,Waterfront?,View,House Condition,Grade,SQFT above,SQFT basement,Year Built,Year Renovated,Zipcode,Lat,Long,SQFT living 15,SQFT lot 15
0,0,7129300520,3,1.00,1180,5650.0,1.0,No,Very Poor,OK Condition,7.0,1180.0,0,1955.0,NaN,98178.0,47.5112,-122.257,1340,5650
1,1,6414100192,3,2.25,2570,7242.0,2.0,No,Very Poor,OK Condition,7.0,2170.0,400,1951.0,1991.0,98125.0,47.7210,-122.319,1690,7639
2,2,5631500400,2,1.00,770,10000.0,1.0,No,Very Poor,OK Condition,6.0,770.0,0,1933.0,NaN,98028.0,47.7379,-122.233,2720,8062
3,3,2487200875,4,3.00,1960,5000.0,1.0,No,Very Poor,Great Condition,7.0,1050.0,910,1965.0,NaN,98136.0,47.5208,-122.393,1360,5000
4,4,1954400510,3,2.00,1680,8080.0,1.0,No,Very Poor,OK Condition,8.0,1680.0,0,1987.0,NaN,98074.0,47.6168,-122.045,1800,7503

In [16]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  21613 non-null  int64
 1   Id          21613 non-null  int64
 2   DATE        21613 non-null  object
 3   Price       21609 non-null  object
dtypes: int64(2), object(2)
memory usage: 675.5+ KB

In [17]:
sales_df.head()

   Unnamed: 0          Id             DATE        Price
0           0  7129300520  20141013T000000  $221,900.00
1           1  6414100192  20141209T000000  $538,000.00
2           2  5631500400  20150225T000000  $180,000.00
3           3  2487200875  20141209T000000  $604,000.00
4           4  1954400510  20150218T000000  $510,000.00

### Step 2: Validate Data Types

In [19]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

Q: Do any of the data types in the dataframe need to be changed?

A: #### TO DO #####
##SQFT living to float##
##Floors to INT##
##SQFT basement float##
##year built INT##
##Year Renovated INT##
##zipcode to INT##
##price to Float##
##date to object##

### Step 3: Detect Missing Values

In [20]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

Q: Which variables/columns have missing values?

A: ##### TO DO #####

### Step 4: Detect Outliers

In [21]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

Q: Which variables/columns have outliers?

A: ##### TO DO #####

### Step 5: Write Data Cleaning Plan

In [22]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

#### Data Cleaning Plan:

####### TO DO #######

## Part 3: Execute Data Cleaning Plan Using DEFINE / CLEAN / TEST Approach

### Step 1: Understand DEFINE / CLEAN / TEST Approach

Refer to project instructions for an explanation of this step. You can copy and past the template in the cell below to use in each step of Part 3 as you are treating the issues you found in the data.

In [23]:
### DEFINE ###


### CLEAN ### 


### TEST ###

### Step 2: Treat Names / Casing / Spelling Issues

In [24]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

In [25]:
### DEFINE ###


### CLEAN ### 


### TEST ###

### Step 3: Treat Missing Values

In [26]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

In [27]:
### DEFINE ###


### CLEAN ### 


### TEST ###

### Step 4: Treat Outliers

In [28]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

In [29]:
### DEFINE ###


### CLEAN ### 


### TEST ###

### Step 5: Summarize Actions Taken & Justify Approach

In [30]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

####### TO DO ###### - Edit this cell to add your summary and justification per project instructions.

## Part 4: Re-Express Categorical Variables

### Step 1: Determine Which Variables Need to Be Re-Expressed

In [31]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

List categorical variables which need to be re-expressed here:

- ########## TO DO ###########
- ########## TO DO ###########
- ########## TO DO ###########
- ########## TO DO ########### ........

### Step 2: Choose Method to Re-Express Variables

In [32]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

Edit this cell to explain which method you are choosing to re-express each variable and why.

### Step 3: Perform Transformation

In [33]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

### Step 4: Summarize Actions Taken & Justify Approach

In [34]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

Edit this cell to add your summary and justification per project instructions.

## Part 5: Combine Datasets into Master DataFrame

### Step 1: Choose Method to Merge DataFrames into New Master DataFrame

In [35]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

Edit this cell to explain which method you are choosing to merge the data and why.

### Step 2: Merge DataFrames

In [36]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

In [37]:
# Use .head() method to print first few rows of new master dataframe

### Step 3: Save Master DataFrame to New .CSV

In [38]:
######################### TO DO ###################################

####### FOLLOW PROJECT DIRECTIONS TO COMPLETE THIS STEP ###########

### Step 4: Push to GitHub / Share Link with Tech Lead & SME

##### This step will be completed outside of Jupyter Notebook. See "Submitting Project" Video Walkthrough from Unit 1 if you have any questions.

### Step 5: Record Brief Code Walkthrough / Share Link with Tech Lead & SME

##### This step will be completed outside of Jupyter Notebook. See "Submitting Project" Video Walkthrough from Unit 1 if you have any questions.